<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>信息统计界面</title>
    <link rel="stylesheet" href="../css/declare.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-table-master/dist/bootstrap-table.min.css">

    <script type="text/javascript" src="../js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bootstrap-table-master/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/show.js"></script>
</head>

<body onload="Showdata()">
    <div class="container-fluid" style=" height:100%">
        <div class="row" style=" height:20%">
            <div class="col-md-12" style=" height:100%">
                <div class="pageheader" style=" height:66%">
                    <h1 align="center" class="hs">&emsp;疫情期间个人健康情况申报系统<small class="sm">&emsp;信息统计</small></h1>
                </div>
        </div>

        <div class="col-md-12" style=" height:100%;margin-left:-15px ;text-align: center;margin:auto;">
            <div style="height: 90%">
                <table id="table"></table>
            </div>
        </div>

       




        
    </div>

</body>